<table class="table table-striped">
  <thead>
  <tr>
    <th>ID</th>
    <th>标题</th>
    <th>订单号</th>
    <th>状态</th>
    <th>创建时间</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <% @orders.each do |order| %>
    <tr>
      <td><%= order.id %></td>
      <td><%= order.title %></td>
      <td><%= order.order_no %></td>
      <td><%= order.state_text %></td>
      <td><%= order.created_at.strftime("%Y-%m-%d %H:%M") %></td>
      <td>
        <%= link_to "详情", admin_ticket_order_path(order), class: 'btn' %>
        <%= link_to "编辑", edit_admin_ticket_order_path(order), class: "btn btn-success" %>
        <%= link_to "删除", admin_ticket_order_path(order), method: :delete, data: { confirm: '确认删除吗？' }, class: "btn btn-danger" %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>