<html>
<head>
  <title>Wei Panel</title>
  <link href="https://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.bootcss.com/codemirror/5.37.0/codemirror.min.css" rel="stylesheet">
  <link href="https://cdn.bootcss.com/codemirror/5.37.0/theme/dracula.min.css" rel="stylesheet">
  <link href="https://cdn.bootcss.com/codemirror/5.37.0/addon/display/fullscreen.css"  rel="stylesheet">


  <script src="https://cdn.bootcss.com/codemirror/5.37.0/codemirror.min.js"></script>
  <script src="https://cdn.bootcss.com/codemirror/5.37.0/mode/ruby/ruby.min.js"></script>
  <script src="https://cdn.bootcss.com/codemirror/5.37.0/mode/xml/xml.js"></script>
  <script src="https://cdn.bootcss.com/codemirror/5.37.0/mode/css/css.js"></script>
  <script src="https://cdn.bootcss.com/codemirror/5.37.0/mode/javascript/javascript.min.js"></script>
  <script src="https://cdn.bootcss.com/codemirror/5.37.0/mode/htmlmixed/htmlmixed.min.js"></script>
  <script src="https://cdn.bootcss.com/codemirror/5.37.0/addon/display/fullscreen.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body>
<div id="wrapper" class="toggled">
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <h3>叶寒书网络科技</h3>
      </li>
      <li><span>常用功能</span></li>
      <li><a href="<%= admin_dash_boards_path %>">控制面板</a></li>
      <li><a href="<%= admin_activities_path %>">活动管理</a></li>
      <li><a href="<%= admin_pages_path %>">页面管理</a></li>
      <li><span>商店</span></li>
      <li><a href="<%= admin_virtual_goods_path %>">虚拟商品管理</a></li>
      <li><a href="<%= admin_pages_path %>">订单管理</a></li>
      <li><a href="<%= admin_ticket_orders_path %>">快捷支付单</a></li>
      <li><span>CRM</span></li>
      <li><a href="<%= admin_pages_path %>">表单管理</a></li>
      <li><a href="<%= admin_pages_path %>">客户公海</a></li>
      <li><a href="<%= admin_pages_path %>">提醒事项</a></li>
      <li><a href="<%= admin_pages_path %>">卡券管理</a></li>
      <li><span>基础设置</span></li>
      <li><a href="<%= admin_public_accounts_path %>">公众号</a></li>
      <li><a href="<%= admin_pay_configs_path %>">支付设置</a></li>
      <li><a href="<%= admin_crop_users_path %>">账户设置</a></li>
    </ul>
  </div>
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="wei-content-head">
        <ul>
          <% panel_menu.to_a.each do|href| %>
            <li><%= href %></li>
          <% end %>
        </ul>
      </div>
      <div class="wei-content-body">
        <%= yield %>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script>
    <% if flash[:alert] %>
    alert("<%= flash[:alert] %>")
    <% end  %>
</script>
</body>
</html>